<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.com.mundocostenio.mybatis.mappers.BarrioMapper">
	<resultMap type="co.com.mundocostenio.domain.Barrio" id="BarrioResult">
  	
  		<id		property 	= "barrioId" 	column = "barrio_id"/>
 		<result property 	="nombreBarrio" column ="nombre_barrio"/>
 		
 		<association property ="departamento" 
			resultMap="co.com.mundocostenio.mybatis.mappers.DepartamentoMapper.DepartamentoResult"/>
  	</resultMap>
</mapper>