<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.com.mundocostenio.mybatis.mappers.GrupoCuentaMapper">
	<resultMap type="co.com.mundocostenio.domain.GrupoCuenta" id="GrupoCuentaResult">
  	
  		<id		property = "grupoCuentaId" 	column = "grupo_cuenta_id"/>
 		<result property ="tipoGrupoCuenta" column ="tipo_grupo_cuenta"/>
 		<result property ="grupoCuentaDesc" column ="grupo_cuenta_desc"/>
 		<result property ="objectIdIdentity" column ="object_id_identity"/>
  	</resultMap>
</mapper>