<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.com.mundocostenio.mybatis.mappers.PostMapper">
	<resultMap type="co.com.mundocostenio.domain.Post" id="PostResult">
  	
  		<id	property = "id" 	column = "id"/>
 		<result property ="content" column ="content"/>
 		<association property ="calle" 
			resultMap="co.com.mundocostenio.mybatis.mappers.CalleMapper.CalleResult"/>
  	</resultMap>
</mapper>