<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.com.mundocostenio.mybatis.mappers.ProductoMapper">
	<resultMap type="co.com.mundocostenio.domain.Producto" id="ProductoResult">
  	
  		<id		property = "prodId" 			column = "producto_id"/>
 		<result property ="nombre" 			column ="nombre"/>
 		
 		<association property="tipoProducto" 
 			resultMap="co.com.mundocostenio.mybatis.mappers.TipoProductoMapper.TipoProductoResult"/>
 			
 		<association property="impuesto" 
 			resultMap="co.com.mundocostenio.mybatis.mappers.ImpuestoMapper.ImpuestoResult"/>
  	</resultMap>
</mapper>